.App {
  text-align: left;
}

.clickBtn {
  background: salmon;
  border-radius: 20px;
  padding: 15px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  border: 2px solid saddlebrown;
  color: papayawhip;
  font-size: 20px;
  text-decoration: none;

}


.lambdaFriendsDiv {
  border: 3px solid salmon;  
  display: flex;
  flex-flow: wrap;
  margin: 20px auto;
  background: papayawhip;
}

.eachFriendCard {
  width: 500px;
  margin: 25px auto;  
  border-radius: 50px;
  padding: 15px;
  background: salmon;
  color: papayawhip;
}